/*
Author: Billy Conard 
Date: December 10th, 2024
File Name: styles.css
*/

/* CSS Reset */ 
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article {
    margin: 0; 
    padding: 0; 
    border: 0;
}

/* Style rules for body and images */ 
body {
    background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    color: #36454f;
} 

img {
    max-width: 100%;
    display: block; 
}

/* Style rules for box sizing applies to all elements */
* {
    box-sizing: border-box;
} 

/* Style rules for mobile viewport */

/* Style rule for header */
header {
    top: 0;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

header img {
    margin: 0 auto;
    height: auto;
    width: 25%;
}

/* Style rules for Navigation Area */
nav {
    padding: 1%; 
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none; 
    text-align: center;
}

nav li {
    font-size: 1.25em;
    border-top: 1px solid #000; 
    font-family: "Playfair", "serif";
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block; 
    color: #36454f; 
    padding: 1em 1.5em; 
    text-decoration: none; 
}

/* Show mobile class, hide tablet-desktop class */ 
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Style rules for main content */ 
main {
    padding: 2%; 
    font-size: 1.15em;
    font-family: "Outfit", "serif"; 
}

h1, h2, h3, p {
    text-align: center; 
}

h2 {
    padding: 2%;
}

p {
    font-size: 1.25em;
}

article {
    padding: 2%;
}

article img {
    margin: 0 auto;
}

article:nth-of-type(2) {
    background-color: rgba(204, 204, 204, 0.3);
} 

article p {
    font-size: 1em;
}

.tel-link {
    background-color: #097969;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fdfcfb;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
}

.mobile-link {
    background-color: #097969;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

#reserve {
    color: #fdfcfb;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
}

.disclaimer {
    font-style: italic;
}

.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto; 
    padding-top: 2%;
}

#travel-portland, #walking-tours, #brewvana {
    margin: 0 2%;
    padding-bottom: 5%;
    padding-top: 2%;
    font-family: "Playfair", "serif";
}

.round {
    border-radius: 10px;
}

.tour-list ul{
    list-style-type: none;
    text-align: center;
}

.tour-list h3 {
    padding-top: 4%;
}

.info {
    font-style: italic;
    padding: 5%;
}

.quote {
    font-style: italic;
    font-weight: bold;
}

#contact {
    text-align: center;
}

#contact h2 {
    font-size: 2em;
}

#contact .contact-email-link {
    color: #000;
    text-decoration: none;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

.icon {
    margin: 0 auto;
    width: 75%;
    height: 75%;
    padding-bottom: 2%;
}

.competition {
    padding-top: 5%;
    padding-bottom: 5%;
    font-style: italic;
}

h3 a {
    text-decoration: none;
    color: #a0522d;
}

a:visited {
    color: #a0522d;
}

hr {
    border: 2px solid #36454f;
}

/* Style rules for form elements */ 
#form {
    margin-top: 2%;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    padding: 2%;
}

fieldset, textarea {
    margin-bottom: 2%;
    width: 100%;
}

#form h2 {
    text-align: center;
    font-size: 1.25em;
}

fieldset legend {
    font-weight: bold; 
    font-size: 1.15em;
}

label {
    display: block;
    padding-top: 2%;
}

.button {
    margin: 10px auto;
    border: none;
    display: block;
    padding: 3%;
    background-color: #a0522d;
    color: #fff;
    font-family: "Playfair", "serif";
    font-size: 1em;
    border-radius: 15px;
}

/* Style rules for footer content */
footer p {
    font-size: 0.8em;
    text-align: center;
    padding: 0 1em; 
    color: #36454f;
}

footer p a {
    color: #36454f;
    text-decoration: none; 
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }
    
    .mobile {
        display: none; 
    }
    
    /* Tablet Viewport: Style rule for header */ 
    header {
        position: static;
        padding-bottom: 2%;
    }
    
    /*Tablet Viewport: Style rules for nav area */ 
    nav li {
        border-top: none; 
        display: inline-block;
        border-right: 1px solid #000;
    }
    
    nav li:last-child {
        border-right: none; 
    }
    
    nav li a {
        padding: 0.2em 0.7em;
    }
    
    /* Tablet Viewport: Style rules for hero image */
    #hero {
        margin: 0 auto;
        padding: 2%;
        height: 10%;
        width: 100%;
    }
    
    /* Tablet Viewport: Style rules for main content area */
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }
    
    
    .frame-text {
        font-size: 1em;
        padding: 10px;
    }
    
    .map {
        width: 600px;
        height: 450px;
    }
    
    .icon {
        margin: 0 auto;
        width: 75%;
        height: 75%;
        padding-bottom: 2%;
        max-width: 40%;
    } 

    .grid a {
        text-align: center;
        text-decoration: none;
        padding-bottom: 2%;
        color: #36454f;
        font-family: "Playfair", "serif";
    }
    
    .map {
        width: 600px;
        height: 400px;
    }
        
    /* Tablet Viewport: Style rules for table */
    table {
        border: 1px solid #000;
        border-collapse: collapse;
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }
    
    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }
    
    th, td {
        border: 1px solid #000;
        padding: 1px 2px 1px 2px;
        text-align: center;
    }
    
    th {
        background-color: #8a9a5b;
        color: #fff;
        font-size: 1em;
    }
    
    tr:nth-child(even) {
        background-color: #ecffdc;
    }
    
    /* Tablet Viewport: Style rules for form element */
    form {
        width: 80%;
        margin: 0 auto;
    }
}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
    
    /* Desktop Viewport: Style rules for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
        background: rgba(0,0,0,0);
    }
    
    header img {
        height: 50%;
        width: 50%;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 2em 1em 0 0;
    }
    
    nav ul {
        text-align: right; 
    }
    
    nav li {
        border: none;
    }
    
    nav li a {
        padding: 0.5em 1em;
    }
    
    nav li a:hover {
        color: #d9bf86;
        background-color: #097969;
    }
    
     /* Desktop Viewport: Style rules for hero image */
    #hero {
        margin: 0 auto;
        padding: 2%;
        height: 10%;
        width: 100%;
    }
    
    /* Desktop Viewport: Style rules for main content */
    main {
        clear: left;
    }
    
    main h1 {
        font-size: 1.8em;
    }
    
    p {
        font-size: 1.25em;
    }
    
    .frame-text {
        font-size: 1.5em;
        padding: 20px;
    }
    
    /* Desktop Viewport: Style rules for form elements */
    form {
        width: auto;
        height: auto;
    }
    
    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }
    
    .button {
        grid-column: 1 / span 3;
    }
    
    #message {
        padding-top: 10px;
        margin-top: 30px;
    }
    
    fieldset {
        text-align: center; 
        width: auto;
        height: auto;
        display: inline-block;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
    
    table {
        width: 80%;
    }
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}